<!DOCTYPE html>
<html lang="en" ng-app="panacea">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Panacea Crowdsourced Disease Tracker</title>
    <link rel="stylesheet" href="lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="styles/style.css">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
  </head>

  <body layout="column" ng-controller="MenuController">

    <header layout="row">
      <h1>PANACEA</h1>
      <span flex></span>
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button class="groupX left" ng-click="toggleAbout()">About</md-button>
        <md-button class="groupX middle" ng-click="toggleFeed()">Feed</md-button>
        <md-button class="groupX right" ng-click="toggleReport()">Submit</md-button>
      </section>
    </header>


    <div ui-view="map" id="map-container" flex="auto"></div>
    <div ui-view="about" ng-show="about" id="about" flex="45"></div>
    <div ui-view="feed" ng-show="feed" id="feed" flex="45"></div>
    <div ui-view="report" ng-show="report" id="report" flex="45"></div>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.20&libraries=visualization"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>

    <script src="app/services/services.js"></script>
    <script src="app/controllers/map.js"></script>
    <script src="app/controllers/report.js"></script>
    <script src="app/controllers/feed.js"></script>
    <script src="app/app.js"></script>
  </body>

</html>
