<!DOCTYPE html>
<html lang="en" ng-app="panacea">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Panacea Crowdsourced Disease Tracker</title>
    <link rel="stylesheet" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="styles/style.css">
  </head>

  <body ng-cloak  class="ng-cloak" ng-controller="MainController" layout="column">
    <header layout="row">
      <h1>PANACEA</h1>
      <span flex>Crowdsourced Disease Tracker</span>
      <nav layout="row" layout-align="center center">
        <md-button ng-click="toggleAbout()" class="groupX left">About</md-button>
        <md-button ng-click="toggleFeed()" class="groupX middle">Feed</md-button>
        <md-button ng-click="toggleReport()" class="groupX right">Submit</md-button>
      </nav>
    </header>

    <main ui-view="map" flex="auto"></main>

    <!-- Need to change to be a single view with nested view states -->
    <section class="bottom-content" ui-view="about" ng-show="about" flex="50"></section>
    <section class="bottom-content" ui-view="feed" ng-show="feed" flex="50"></section>
    <section class="bottom-content" ui-view="report" ng-show="report" flex="50"></section>

    <!-- Google Map API v3.20 -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.20&libraries=visualization"></script>

    <script src="lib/angular/angular.js"></script>
    <!-- Do we still need this if we have angular-ui-router? -->
    <script src="lib/angular-route/angular-route.js"></script>
    <!-- Angular Material Icons -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>

    <script src="app/services/services.js"></script>
    <script src="app/controllers/map.js"></script>
    <script src="app/controllers/feed.js"></script>
    <script src="app/controllers/report.js"></script>
    <script src="app/app.js"></script>
  </body>

</html>
