<div class="map-view-container">
  <div class="map-input-controls">
    <form ng-submit="goToGeocodeLocation()" layout="row" layout-sm="column" class="inline-elem">
      <md-input-container layout="column" class="inline-elem search-box">
        <input type="text" ng-model="search" placeholder="Search a location" required />
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary inline-elem" layout="column"> Go to location </md-button>
    </form>
    <md-button class="md-raised inline-elem" ng-click="goToCurrentLocation()" layout="column"> Return to current location </md-button>
    <md-button class="md-raised inline-elem" ng-click="changeHeatmap()" layout="column">change</md-button>
    <md-input-container>
            <label>Disease</label>
            <md-select ng-model="userChoice">
              <md-option ng-repeat="data in heatmapChoices">
                {{data}}
              </md-option>
            </md-select>
          </md-input-container>
  </div>
  <div id="map" style="height: 100%" layout="row">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
  </div>
</div>
