.map-view-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 128px;
  left: 0;
  z-index: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.globe-view-container {
  max-width: 600px;
  display: block;
  margin: 5% auto;
}

.water {
  fill: #3F51B5;
}

.land {
  fill: #8BC34A;
  stroke: #FFF;
  stroke-width: 0.7px;
}

.land:hover {
  fill: #558B2F;
  stroke-width: 1px;
}

.focused {
  fill: #ff00ff;
}

select {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

.glow {
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.inline-elem {
  display: inline-block;
}

.map-input-controls {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 100px;
}

.search-box {
  background-color: white;
  padding: 2px;
}

