<h1 class="about"> About Panacea </h1>

<p class="about">Panacea is a disease tracking application that uses the power of crowdsourcing to track communicable disease outbreaks in real-time. Users can look at an aggregated map of all current global disease outbreaks or search for specific diseases by name and location.</p> 

<p class="about">Panacea tracks communicable disease outbreak as they happen. The goal is to develop a crowdsourcing alert system that not only promotes more awareness about various disease outbreaks, but also creates a better response system in certain poor and developing countries where disease tracking can be a challenge for health agencies.</p>

<p class="about">Data is sourced from Twitter, Web Forms, and SMS. Users can submit reports of diseases via the web form or SMS.</p> 
